.layer-demo {
  display: flex;
  justify-content: center;
  align-items: center;
 
  .data-view {
    background-color: #f0f0f0;
    margin-left: 20px;
    width: 300px;
    height: 600px;
    display: flex;
  }
}
